[KDEGameTheme]
Name=Black on White
Name[es]=Negro sobre blanco
Name[ga]=Dubh ar Bhán
Name[it]=Bianco e Nero
Name[ja]=白地に黒
Name[pt]=Preto Sobre Branco
Name[pt_BR]=Preto Sobre Branco
Name[sv]=Svartvitt
Name[zh_TW]=黑與白
Description=A monochrome, black on white theme for KGoldrunner
Description[es]=Un tema en blanco y negro para KGoldrunner
Description[it]=Un tema monocromatico, nero su bianco per KGoldrunner
Description[pt]=Um tema monocromático, a preto-e-branco, para o KGoldrunner
Description[pt_BR]=Um tema monocromático, a preto-e-branco, para o KGoldrunner
Description[sv]=Ett enfärgat svartvitt tema för Kgoldrunner
Description[zh_TW]=KGoldrunner 黑白螢幕主題
Author=Luciano Montanaro
Set=accessible/black-on-white-set.svg
Actors=accessible/black-on-white-actors.svg
DrawCanvasBorder=0
BorderColor=#000000
TextColor=#000000
