[KDEGameTheme]
Name=KGoldRunner Default
Name[gl]=Predeterminado de KGoldrunner
Name[km]=KGoldRunner លំនាំដើម
Name[nds]=KGoldRunner-Standard
Name[pt]=Predefinição do KGoldrunner
Name[pt_BR]=Predefinição do KGoldrunner
Name[sv]=Standard Kgoldrunner
Name[uk]=Типова тема Золотошукача
Description=A light and clean theme for KDE4
Description[gl]=Un tema lixeiro e elegante para KDE 4
Description[km]=ង​ស្បែក​​ភ្លឺ និង​ស្អាត​ត​សម្រាប់​ KDE4
Description[nds]=En hell un oprüümt Muster för KDE-4
Description[pt]=Um tema limpo e leve para o KDE4
Description[pt_BR]=Um tema limpo e leve para o KDE4
Description[sv]=Ett lätt och rent tema för KDE4
Description[uk]=Легка і чиста тема для KDE4
Author=Mauricio Piacentini
Set=default/set.svg
Actors=default/actors.svg
DrawCanvasBorder=0
BorderColor=#2C89A0
TextColor=#FFFFFF
