[KDEGameTheme]
Name=KGoldRunner Default
Description=A light and clean theme for KDE4
Author=Mauricio Piacentini
Set=default/set.svg
Actors=default/actors.svg
DrawCanvasBorder=0
BorderColor=#2C89A0
TextColor=#FFFFFF
