[KDEGameTheme]
Name=The Treasure of Egypt
Name[be]=Скарб Егіпта
Name[ca]=El Tresor d'Egipte
Name[da]=Egyptens skat
Name[de]=Schatz von Ägypten
Name[el]=Ο θησαυρός της Αιγύπτου
Name[eo]=La trezoro de Egiptujo
Name[es]=El tesoro de Egipto
Name[et]=Egiptuse aare
Name[fa]=گنج مصر
Name[fi]=Egyptin aarre
Name[fr]=Le trésor d'Égypte
Name[ga]=Saibhreas na hÉigipte
Name[gl]=O tesouro de Exipto
Name[hne]=मिस्र के खजाना
Name[hu]=Egyiptom kincse
Name[it]=Il tesoro d'Egitto
Name[ja]=エジプトの財宝
Name[km]=សម្បត្តិ​របស់​ប្រទេស​អេហ្ស៊ីប
Name[ko]=이집트의 보물
Name[lv]=Ēģiptes bagātības
Name[nds]=De Schatt vun Ägypten
Name[nl]=De schat van Egypte
Name[nn]=Skatten i Egypt
Name[pl]=Skarb Egiptu
Name[pt]=O Tesouro do Egipto
Name[pt_BR]=O Tesouro do Egito
Name[ro]=Comoara Egiptului
Name[ru]=Сокровища Египта
Name[sl]=Egipčanski zaklad
Name[sv]=Den egyptiska skatten
Name[uk]=Скарби Єгипту
Name[wa]=Li trezôr d' Edjipe
Name[x-test]=xxThe Treasure of Egyptxx
Name[zh_CN]=埃及的宝藏
Name[zh_TW]=埃及的寶藏
Description=Help Matt Goldrunner escape the traps of ancient Egypt.
Description[da]=Hjælp Matt Goldrunner med at flygte fra fælderne i det gamle Egypten.
Description[de]=Helfen Sie Matt Goldrunner bei der Flucht aus den Fallen des alten Ägypten.
Description[el]=Βοηθήστε τον χρυσοθήρα Matt να γλυτώσει από τις παγίδες της αρχαίας Αιγύπτου.
Description[es]=Ayude a Matt Goldrunner a escapar de las trampas del antiguo Egipto.
Description[et]=Matt Goldrunneri abistamine muistse Egiptuse lõksude küüsist.
Description[fr]=Aidez Matt Goldrunner à s'échapper des pièges de l'ancienne Égypte.
Description[ga]=Cuidigh le Matt Goldrunner teacht slán as gaistí na Sean-Éigipte.
Description[gl]=Axude a Matías Pébeda a escapar das trampas do antigo Exipto.
Description[hne]=मैट गोल्डरनर ल प्राचीन मिस्र के चंगुल से भगाय मं मदद करव.
Description[it]=Aiuta Matt Goldrunner a fuggire dalle trappole dell'antico Egitto.
Description[ja]=Matt Goldrunner が古代エジプトのわなから脱出するのを助けます。
Description[km]=ជួយ Matt Goldrunner ឲ្យ​គេចផុត​ពី​អន្ទាក់​របស់​អេហ្ស៊ីប​បុរាណ ។
Description[lv]=Palīdzi zeltracim Mārtiņam izbēgt no senās Ēģiptes lamatām.
Description[nds]=Hölp Thies Goldlöper dor bi, dat he nich in de Fallen vun't ole Ägypten pedden deit.
Description[nl]=Help Matt Goldrunner om te ontsnappen uit de vallen van het oude Egypte.
Description[nn]=Hjelp Matt Goldrunner å unnsleppa fellene i gamle Egypt.
Description[pt]=Ajude o Matt Goldrunner a escapar das armadilhas do antigo Egipto.
Description[pt_BR]=Ajude Matt Goldrunner a escapar das armadilhas do antigo Egito.
Description[ro]=Ajutați-l pe Matt Goldrunner să evadeze din capcanele Egiptului antic.
Description[ru]=Помогите золотоискателю Мише избежать ловушек древнего Египта.
Description[sl]=Pomagajte Mattu Goldrunnerju pobegniti pastem starodavnega Egipta.
Description[sv]=Hjälp Matt Goldrunner undkomma fällorna i det forntida Egypten.
Description[uk]=Допоможіть Метту Ґолдраннеру уникнути пасток давнього Єгипту.
Description[x-test]=xxHelp Matt Goldrunner escape the traps of ancient Egypt.xx
Description[zh_CN]=帮助淘金者 Matt 逃出古埃及的层层陷阱。
Description[zh_TW]=協助 Goldrunner 逃離古埃及
Author=Eugene Trounev
Set=egypt/egypt_kgr.svgz
Actors=egypt/actors.svgz
DrawCanvasBorder=1
BorderColor=#343131
TextColor=#FFFFFF
