[KDEGameTheme]
Name=Geek City
Name[de]=Geek-Stadt
Name[es]=Ciudad griega
Name[fa]=شهر Geek
Name[gl]=Cidade de chapóns
Name[ne]=गीक शहर
Name[pt]=Cidade dos Cromos
Name[pt_BR]=Cidade dos Cromos
Name[sv]=Nördstaden
Name[x-test]=xxGeek Cityxx
Name[zh_CN]=Geek 之城
Description=The hero is trapped inside a computer.
Description[de]=Der Held ist im Inneren eines Computers gefangen.
Description[el]=Ο ήρωας έχει παγιδευτεί μέσα σε έναν υπολογιστή
Description[es]=El héroe está atrapado dentro de una máquina.
Description[fa]=قهرمان درون تله رایانه افتاد.
Description[fi]=Sankari on ansassa tietokoneen sisällä.
Description[gl]=O heroi está atrapado nun ordenador.
Description[it]=L'eroe è intrappolato all'interno di un computer.
Description[ja]=ヒーローがコンピュータの中に閉じ込められています。
Description[ne]=नायक कम्प्युटरको भित्र थुनिएको छ ।
Description[nl]=De held is gevangen in een computer.
Description[pt]=O herói está preso dentro de um computador.
Description[pt_BR]=O herói está preso dentro de um computador.
Description[sv]=Hjälten är fångad i en dator
Description[x-test]=xxThe hero is trapped inside a computer.xx
Description[zh_CN]=主角已被电脑控制角色捕获
Description[zh_TW]=英雄被困在電腦裡面。
Author=Eugene Trounev and Mauricio Piacentini
Set=kgr_geek/set.svgz
Actors=kgr_geek/actors.svgz
DrawCanvasBorder=1
BorderColor=#687D54
TextColor=#FFFFFF
