[KDEGameTheme]
Name=Midnight
Name[el]=Μεσάνυχτα
Name[es]=Medianoche
Name[fa]=نیمه‌شب
Name[ja]=ミッドナイト
Name[ne]=मध्यरात
Name[pt]=Meia-Noite
Name[pt_BR]=Meia-Noite
Name[sv]=Midnatt
Name[te]=అర్ద రాత్రి
Name[x-test]=xxMidnightxx
Name[zh_TW]=午夜
Author=Ian Wadham
ColorIndex=2
