[KGameTheme]
Name=Nostalgia Blues
Name[ar]=حنين إلى الماضي
Name[bs]=Nostalgija bluz
Name[ca]=Nostàlgia blava
Name[ca@valencia]=Nostàlgia blava
Name[da]=Nostalgia Blues
Name[de]=Nostalgie (blau)
Name[el]=Νοσταλγικό μπλε
Name[en_GB]=Nostalgia Blues
Name[eo]=Nostalgia ĉagreno
Name[es]=Nostalgia en azul
Name[et]=Nostalgiasina
Name[eu]=Nostalgia Blues
Name[fa]=آبی دلتنگی
Name[fi]=Nostalgia Blues
Name[fr]=Chanson nostalgique de type « Blues » 
Name[ga]=Nostalgia Blues
Name[gl]=Blues da nostalxia
Name[he]=בלוז לנוסטלגיה
Name[hne]=नोस्टलजिया ब्लूज
Name[hu]=Nosztalgia blues
Name[id]=Biru-biru Nostalgia
Name[it]=Nostalgia Blues
Name[ja]=ノスタルジア・ブルー
Name[ka]=Nostalgia Blues
Name[kk]=Көкті сағыну
Name[km]=ពណ៌​ខៀវ​គួរ​ឲ្យ​ស្រណោះ
Name[ko]=추억의 파란색
Name[lv]=Nostaļģiski zils
Name[mr]=नोस्टाल्जिया ब्लूज़
Name[nb]=Blå nostalgi
Name[nds]=Blaag Nostalgie
Name[nl]=Nostalgia Blues
Name[nn]=Nostalgia – blå
Name[pl]=Niebieska nostalgia
Name[pt]=Nostalgia Blues
Name[pt_BR]=Nostalgia em Azul
Name[ro]=Nostalgia albastră
Name[ru]=Nostalgia Blues
Name[sa]=नॉस्टेलजिया ब्लूज
Name[sk]=Nostalgia Blues
Name[sl]=Nostalgični blues
Name[sq]=Nostalgia Blues
Name[sr]=Плава носталгија
Name[sr@ijekavian]=Плава носталгија
Name[sr@ijekavianlatin]=Plava nostalgija
Name[sr@latin]=Plava nostalgija
Name[sv]=Nostalgi-blues
Name[tr]=Nostalji Mavisi
Name[uk]=Напад ностальгії
Name[x-test]=xxNostalgia Bluesxx
Name[zh_CN]=怀旧蓝调
Name[zh_TW]=Nostalgia Blues
Description=A theme for KGoldrunner that brings back that 8-bit look... now in blue!
Description[ar]=سمة لجامع الذهب تعيد مظهر 8 بت... الآن باللون الأزرق!
Description[bs]=Tema za KTragač zlata koja vraća 8-bitni izgled... sada u plavoj boji!
Description[ca]=Un tema per al KGoldrunner que us porta l'aspecte clàssic dels 8 bits... ara en blau!
Description[ca@valencia]=Un tema per a KGoldrunner que vos porta l'aspecte clàssic dels 8 bits… ara en blau!
Description[da]=Et tema til KGoldrunner som bringer 8-bit-udseendet tilbage... nu i blåt!
Description[de]=Ein Design für KGoldrunner mit dem alten 8-Bit-Charme ... Jetzt in Blau!
Description[el]=Ένα θέμα για το KGoldrunner το οποίο μας επιστρέφει στην όψη των 8-bit... τώρα σε μπλε!
Description[en_GB]=A theme for KGoldrunner that brings back that 8-bit look... now in blue!
Description[eo]=Etoso por KGoldrunner kiu rememorigas tiun 8-bitan fizionomion... Nun blue!
Description[es]=Un tema para KGoldrunner que recuerda aquel aspecto de 8 bits… ¡ahora en azul!
Description[et]=KGoldrunneri teema, mis toob silme ette taas 8-bitise välimuse... aga nüüd siniselt!
Description[eu]=KGoldrunner(r)erako gai bat, atzera 8-biteko itxura hura ekartzen duena... oraingoan  urdina!
Description[fa]=یک چهره برای فرار با جواحرات کخ ظاهر ۸ بیتی را به یاد می‌آورد، حالا در رنگ آبی
Description[fi]=KGoldrunnerin teema, joka tuo takaisin 8-bittisen tyylin… nyt sinisenä!
Description[fr]=Un thème pour KGoldRunner revenant à cet aspect en 256 couleurs... en bleu maintenant !
Description[ga]=Téama le haghaidh KGoldrunner a dhéanann athbheochan ar an gcuma 8-giotán... leagan gorm anois!
Description[gl]=Un tema visual para KGoldrunner que nos lembra a aquel aspecto dos 8 bits… agora en azul!
Description[he]=ערכת עיצוב ל־KGoldrunner שמחזירה את מראה 8 הסיביות… מהיום גם בכחול!
Description[hne]=के-गोल्डरनर बर थीम जऊन कि ८-बिट रूप ल वापस लाथे ... अब नीला रुप में!
Description[hu]=A 8 bites időket felidéző téma, kék variációban.
Description[id]=Sebuah tema untuk KGoldrunner yang membawa kembali suasana 8-bit... sekarang dalam warna biru!
Description[it]=Un tema per KGoldrunner che porta sul tuo schermo quel look da 8 bit... ora anche in blu!
Description[ja]=8 ビット時代を思い出させる KGoldrunner のテーマ (ブルー版)
Description[ka]=თემა KGoldrunner-სთვის, რომელიც 8-ბიტიანი თამაშის შეგრძნებას წვევს... ახლა უკვე ლურჯად!
Description[kk]=KGoldrunner-дың 8-битік заманның нақышы... енді көк!
Description[km]=ស្បែក​សម្រាប់ KGoldrunner ដែល​នាំ​រូបរាង ៨ ប៊ីត​មក​វិញ... ឥឡូវ​គឺ​ជា​ពណ៌​ខៀវ !
Description[ko]=8비트 모습의 KGoldRunner 테마입니다... 이제 파란색입니다!
Description[lv]=„KGoldrunner“ motīvs, kas atgādina 8 bitu laikus... tagad zilā krāsā!
Description[mr]=के-गोल्ड-रनर करिता ८-बिटसारखे दृश्य पुन्हा आणणारी शैली... आता निळ्या रंगात!
Description[nb]=Tema som bringer tilbake gamle 8-bits minner – nå i blått!
Description[nds]=En Muster för KGoldrunner, dat utseht as mit 8 Bits... in Blaag!
Description[nl]=Een thema voor KGoldrunner dat het 8-bit uiterlijk terugbrengt.... nu in het blauw!
Description[nn]=Tema som bringer tilbake gamle 8-bits minner – no i blått!
Description[pl]=Wystrój dla KGoldrunnera, który przypomina jak wyglądało 8 bitów... na niebiesko!
Description[pt]=Um tema escalável para o KGoldrunner que traz de volta a aparência a 8 bits... agora em azul!
Description[pt_BR]=Um tema para KGoldrunner que traz de volta aquele visual dos computadores de 8-bits... agora em azul!
Description[ro]=Tematică pentru KGoldrunner ce readuce acel aspect în 8 biți... acum în albastru!
Description[ru]=Стиль оформления для KGoldrunner из восьмибитного мира... теперь в синем!
Description[sa]=KGoldrunner कृते एकः विषयः यः तत् 8-बिट् रूपं पुनः आनयति... अधुना नीलवर्णे!
Description[sk]=Téma pre KGoldrunner, ktorá vás prenesie späť do čias 8-bitov... teraz v modrej!
Description[sl]=Tema za igro KGoldrunner, ki prinaša 8-bitni izgled ... zdaj v modrem!
Description[sr]=Тема К‑златобојца која враћа 8‑битни изглед... сада у плавом!
Description[sr@ijekavian]=Тема К‑златобојца која враћа 8‑битни изглед... сада у плавом!
Description[sr@ijekavianlatin]=Tema K‑zlatobojca koja vraća 8‑bitni izgled... sada u plavom!
Description[sr@latin]=Tema K‑zlatobojca koja vraća 8‑bitni izgled... sada u plavom!
Description[sv]=Ett tema för Kgoldrunner som återskapar 8-bitarsutseendet... Nu i blått.
Description[tr]=K Altın Avı’na 8 bit görünümünü geri getiren bir tema… Hem de şimdi mavi!
Description[uk]=Тема для Золотошукача, що повертає нас до 8-бітового вигляду... тепер синя!
Description[x-test]=xxA theme for KGoldrunner that brings back that 8-bit look... now in blue!xx
Description[zh_CN]=KGoldrunner 的主题, 带来经典的8-bit的外观... 现在是蓝色的!
Description[zh_TW]=KGoldrunner 的佈景主題，就像是八位元時代的畫面。
Author=Luciano Montanaro
Set=nostalgia/blue-set.svgz
Actors=nostalgia/blue-actors.svgz
DrawCanvasBorder=0
BorderColor=#000019
TextColor=#FFFFFF
Preview=nostalgia/nostalgia-blues.png
