[KDEGameTheme]
Name=Nostalgia Blues
Name[ca]=Nostàlgia blau
Name[de]=Nostalgie (blau)
Name[el]=Νοσταλγικό μπλε
Name[eo]=Nostalgia ĉagreno
Name[es]=Nostalgia en azul
Name[et]=Nostalgiasina
Name[eu]=Nostalgia urdina
Name[fa]=آبی دلتنگی
Name[fr]=Bleu nostalgique
Name[gl]=Blues da morriña
Name[hne]=नोस्टलजिया ब्लूज
Name[hu]=Nosztalgia blues
Name[ja]=ノスタルジア・ブルー
Name[ko]=추억의 파란색
Name[lv]=Nostaļģiski zils
Name[nds]=Blaag Nostalgie
Name[nn]=Nostalgisk blått
Name[pl]=Niebieska nostalgia
Name[pt_BR]=Nostalgia em Azul
Name[ro]=Nostalgia albastră
Name[sl]=Nostalgični blues
Name[sr]=Плава носталгија
Name[sr@latin]=Plava nostalgija
Name[sv]=Nostalgi-blues
Name[uk]=Напад ностальгії
Name[x-test]=xxNostalgia Bluesxx
Name[zh_CN]=怀旧之蓝
Description=A theme for KGoldrunner that brings back that 8-bit look... now in blue!
Description[ca]=Un tema per KGoldrunner que us porta l'aparença clàssica dels 8-bits... ara en blau!
Description[da]=Et tema til KGoldrunner som bringer 8-bit-udseendet tilbage... nu i blåt!
Description[de]=Ein Design für KGoldrunner mit dem alten 8-Bit-Charme ... Jetzt in Blau!
Description[el]=Ένα θέμα για το KGoldrunner το οποίο μας επιστρέφει στην όψη των 8-bit... τώρα σε μπλε!
Description[eo]=Etoso por KGoldrunner kiu rememorigas tiun 8-bitan fizionomion... Nun blue!
Description[es]=Un tema para KGoldrunner para recordar los aspectos con 8 bit... ¡ahora en azul!
Description[et]=KGoldrunneri teema, mis toob silme ette taas 8-bitise välimuse... aga nüüd siniselt!
Description[eu]=KGoldrunner-en gai bat 8 bit-eko itxura dakarrena... orain urdinean!
Description[fa]=یک چهره برای فرار با جواحرات کخ ظاهر ۸ بیتی را به یاد می‌آورد، حالا در رنگ آبی
Description[fi]=KGoldrunnerin teema, joka tuo takaisin 8-bittisen tyylin... nyt sinisenä!
Description[fr]=Un thème pour Kgoldrunner qui revient à l'aspect en 256 couleurs... en bleu maintenant !
Description[ga]=Téama le haghaidh KGoldrunner a dhéanann athbheochan ar an gcuma 8-giotán... leagan gorm anois!
Description[gl]=Un tema para KGoldrunner que lle dá un aspeito de 8-bits... agora en azul!
Description[hne]=के-गोल्डरनर बर थीम जऊन कि ८-बिट रूप ल वापस लाथे ... अब नीला रुप में!
Description[hu]=A 8 bites időket felidéző téma, kék variációban.
Description[it]=Un tema per KGoldrunner che porta sul tuo schermo quel look da 8 bit... ora anche in blu!
Description[ja]=8 ビット時代を思い出させる KGoldrunner のテーマ (ブルー版)
Description[km]=ស្បែក​សម្រាប់ KGoldrunner ដែល​នាំ​រូបរាង ៨ ប៊ីត... ឥឡូវ​គឺ​ពណ៌​ខៀវ !
Description[ko]=8비트 모습의 KGoldRunner 테마입니다... 이제 파란색입니다!
Description[lv]=KGoldrunner tēma, kas atgādina 8 bitu laikus... tagad zilā krāsā!
Description[nds]=En Muster för KGoldrunner, dat utseht as mit 8 Bits... in Blaag!
Description[nl]=Een thema voor KGoldrunner dat het 8-bit uiterlijk terugbrengt.... nu in het blauw!
Description[nn]=Tema som bringer tilbake gamle 8-bits minner – no i blått!
Description[pl]=Motyw dla KGoldrunnera, który przypomina jak wyglądało 8 bitów... na niebiesko!
Description[pt]=Um tema escalável para o KGoldrunner que traz de volta a aparência a 8 bits... agora em azul!
Description[pt_BR]=Um tema para KGoldrunner que traz de volta aquele visual dos computadores de 8-bits... agora em azul!
Description[ro]=Tematică pentru KGoldrunner ce readuce acel aspect în 8 biți... acum în albastru!
Description[ru]=Стиль оформления для KGoldrunner из восьмибитного мира... теперь в синем!
Description[sl]=Tema za KGoldrunner, ki prinaša 8-bitni izgled... zdaj v modrem!
Description[sr]=Тема К‑златобојца која враћа 8‑битни изглед... сада у плавом!
Description[sr@latin]=Tema K‑zlatobojca koja vraća 8‑bitni izgled... sada u plavom!
Description[sv]=Ett tema för Kgoldrunner som återskapar 8-bitarsutseendet... Nu i blått.
Description[uk]=Тема для Золотошукача, що повертає нас до 8-бітового вигляду... тепер синя!
Description[x-test]=xxA theme for KGoldrunner that brings back that 8-bit look... now in blue!xx
Description[zh_CN]=将您引回 8 位色感官时代的 KGoldrunner 主题...不过现在是蓝色的！
Description[zh_TW]=KGoldrunner 的佈景主題，就像是八位元時代的畫面。
Author=Luciano Montanaro
Set=nostalgia/blue-set.svg
Actors=nostalgia/blue-actors.svg
DrawCanvasBorder=0
BorderColor=#000019
TextColor=#FFFFFF
