[KDEGameTheme]
Name=Nostalgia
Name[el]=Νοσταλγία
Name[ja]=ノスタルジア
Name[sv]=Nostalgi
Description=A scalable theme for KGoldrunner that brings back that 8-bit look...
Description[el]=Ένα διανυσματικό για το KGoldrunner το οποίο μας επιστρέφει στην όψη των 8-bit...
Description[es]=Un tema escalable para KGoldrunner para recordar los aspectos con 8 bit...
Description[it]=Un tema per KGoldrunner che porta sul tuo schermo quel look da 8 bit...
Description[pt]=Um tema escalável para o KGoldrunner que traz de volta a aparência a 8 bits...
Description[pt_BR]=Um tema escalável para o KGoldrunner que traz de volta a aparência a 8 bits...
Description[sv]=Ett skalbart tema för Kgoldrunner som återskapar 8-bitarsutseendet...
Description[zh_TW]=KGoldrunner 可調整的主題，就像是八位元時代的畫面。
Author=Luciano Montanaro
Set=nostalgia/set.svg
Actors=nostalgia/actors.svg
DrawCanvasBorder=0
BorderColor=#000000
TextColor=#FFFFFF
