[KDEGameTheme]
Name=KGoldRunner Default
Name[el]=Προκαθορισμένο KGoldrunner
Name[es]=KGoldRunner predeterminado
Name[ja]=KGoldrunner デフォルト
Name[sv]=Standard Kgoldrunner
Name[x-test]=xxKGoldRunner Defaultxx
Description=A light and clean theme for KDE4
Description[el]=Ένα απλό και ελαφρύ θέμα για το KDE4
Description[es]=Un tema luminoso y limpio para KDE4
Description[ja]=KDE4 用の軽くてきれいなテーマ
Description[sv]=Ett lätt och rent tema för KDE4
Description[x-test]=xxA light and clean theme for KDE4xx
Author=Mauricio Piacentini
FileName=kgr_default.svg
DrawCanvasBorder=1
BorderColor=#2C89A0
TextColor=#FFFFFF
