[KDEGameTheme]
Name=Original KGoldrunner
Name[el]=Αρχικό KGoldrunner
Name[ja]=オリジナルの KGoldrunner
Name[sv]=Ursprunglig Kgoldrunner
Name[x-test]=xxOriginal KGoldrunnerxx
Author=Ian Wadham
ColorIndex=0
