[KDEGameTheme]
Name=Original KGoldrunner
Name[el]=Αρχικό KGoldrunner
Name[es]=KGoldrunner original
Name[ja]=オリジナルの KGoldrunner
Name[sv]=Ursprunglig Kgoldrunner
Name[uk]=KGoldrunner (оригінальна)
Name[x-test]=xxOriginal KGoldrunnerxx
Name[zh_TW]=KGoldRunner 原始
Author=Ian Wadham
ColorIndex=0
