[KDEGameTheme]
Name=Geek City
Name[es]=Ciudad griega
Description=The hero is trapped inside a computer.
Description[el]=Ο ήρωας έχει παγιδευτεί μέσα σε έναν υπολογιστή
Description[es]=El héroe está atrapado dentro de una máquina.
Description[ja]=ヒーローがコンピュータの中に閉じ込められています。
Description[zh_TW]=英雄被困在電腦裡面。
Author=Eugene Trounev and Mauricio Piacentini
FileName=kgr_geek.svgz
DrawCanvasBorder=1
BorderColor=#687D54
TextColor=#FFFFFF
