[KDEGameTheme]
Name=Geek City
Name[es]=Ciudad griega
Name[fa]=شهر Geek
Name[pt]=Cidade dos Cromos
Name[pt_BR]=Cidade dos Cromos
Name[sv]=Nördstaden
Description=The hero is trapped inside a computer.
Description[el]=Ο ήρωας έχει παγιδευτεί μέσα σε έναν υπολογιστή
Description[es]=El héroe está atrapado dentro de una máquina.
Description[fa]=قهرمان درون تله رایانه افتاد.
Description[ja]=ヒーローがコンピュータの中に閉じ込められています。
Description[pt]=O herói está preso dentro de um computador.
Description[pt_BR]=O herói está preso dentro de um computador.
Description[sv]=Hjälten är fångad i en dator
Description[zh_TW]=英雄被困在電腦裡面。
Author=Eugene Trounev and Mauricio Piacentini
FileName=kgr_geek.svgz
DrawCanvasBorder=1
BorderColor=#687D54
TextColor=#FFFFFF
