[KDEGameTheme]
Name=Midnight
Name[el]=Μεσάνυχτα
Name[es]=Medianoche
Name[ja]=ミッドナイト
Name[sv]=Midnatt
Name[x-test]=xxMidnightxx
Name[zh_TW]=午夜
Author=Ian Wadham
ColorIndex=2
