# KDE Config File
[Desktop Entry]
Name=KGoldrunner
GenericName=Hunt Gold, Dodge Enemies and Solve Puzzles
Type=Application
Exec=kgoldrunner
Icon=kgoldrunner
X-DocPath=kgoldrunner/index.html
Comment=A game of action and puzzle-solving
Terminal=false
Categories=Qt;KDE;Game;ArcadeGame;
X-DBUS-StartupType=Multi
